#ignore python bytecode files
__pycache__/
*.py[cod]
*$py.class
*.pyc
#ignore environment files
.env
.venv
env/
venv/
ENV/
ENV3/
#ignore IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.python-version